<!--
/*
 * JBoss, Home of Professional Open Source.
 * Copyright 2015, Red Hat, Inc., and individual contributors
 * as indicated by the @author tags. See the copyright.txt file in the
 * distribution for a full listing of individual contributors.
 *
 * This is free software; you can redistribute it and/or modify it
 * under the terms of the GNU Lesser General Public License as
 * published by the Free Software Foundation; either version 2.1 of
 * the License, or (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this software; if not, write to the Free
 * Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
 * 02110-1301 USA, or see the FSF site: http://www.fsf.org.
 */
-->
<div ng-controller="MainCtrl" id="componentSelector">
  <form name="myForm">
    <div class="streamSelector">
      <div>
        <label for="streamSelect">Stream: </label>
        <select name="streamSelect" id="streamSelect" ng-model="data.selectedStream" ng-change="streamChange()">
          <option ng-repeat="stream in streams | orderBy:'-name'" value="{{$index}}">{{stream.name}}</option>
        </select>

        <label for="componentSelect">Component: </label>
        <select name="componentSelect" id="componentSelect" ng-model="data.selectedComponent"
                ng-change="componentChange()">
          <option ng-repeat="component in components | orderBy:'component_name'">{{component.component_name}}</option>
        </select>
      </div>
    </div>
  </form>
  <div>
		<table>
			<tr>
				<td>
					<table class="table-hover selectResults">
						<tr>
							<td>Stream:</td>
							<td>{{selectedStream.name}}</td>
						</tr>
						<tr>
							<td>Component:</td>
							<td>{{component.component_name}}</td>
						</tr>
						<tr>
							<td>Repository Type:</td>
							<td>{{component.repository_type}}</td>
						</tr>
						<tr>
							<td>Repository:</td>
							<td><a href="{{component.repository_url}}" target="_blank">{{component.repository_url}}</a></td>
						</tr>
						<tr>
							<td>Branch:</td>
							<td>{{component.codebase}}</td>
						</tr>
						<tr>
							<td>URL:</td>
							<td><a href="{{component.codebaseUrl}}" target="_blank">{{component.codebaseUrl}}</a></td>
						</tr>
					</table>
				</td>
				<td>
					<table class="table-hover selectResults">
						<tr>
							<td>Tag</td>
							<td>{{component.tag}}</td>
						</tr>
						<tr>
							<td>Version</td>
							<td>{{component.version}}</td>
						</tr>
						<tr>
							<td>GAV</td>
							<td>{{component.gav}}</td>
						</tr>
						<tr>
							<td>Contacts</td>
							<td>{{component.contacts}}</td>
						</tr>
						<tr>
							<td>Comment</td>
							<td>{{component.comment}}</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</div>
</div>
