<!--
/*
 * JBoss, Home of Professional Open Source.
 * Copyright 2015, Red Hat, Inc., and individual contributors
 * as indicated by the @author tags. See the copyright.txt file in the
 * distribution for a full listing of individual contributors.
 *
 * This is free software; you can redistribute it and/or modify it
 * under the terms of the GNU Lesser General Public License as
 * published by the Free Software Foundation; either version 2.1 of
 * the License, or (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this software; if not, write to the Free
 * Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
 * 02110-1301 USA, or see the FSF site: http://www.fsf.org.
 */
-->
<div ng-controller="MainCtrl" class="container-fluid">
  <!--Body content-->

  <form name="myForm">
    <label for="streamSelect">Stream: </label>
    <select name="streamSelect" id="streamSelect" ng-model="data.selectedStream" ng-change="streamChange()">
      <option ng-repeat="stream in streams" value="{{$index}}">{{stream.name}}</option>
    </select>

    <label for="componentSelect">Component: </label>
    <select name="componentSelect" id="componentSelect" ng-model="data.selectedComponent"
            ng-change="componentChange()">
      <option ng-repeat="component in components" value="{{$index}}">{{component.component_name}}</option>
    </select>
  </form>
  <hr>
  <p>
    Stream = {{selectedStream.name}}<br/>
    Component = {{component.component_name}}<br/>
    Repository = <a href="{{component.repository_url}}" target="_blank">{{component.repository_url}}</a><br/>
    Branch = {{component.codebase}}<br/>
    URL = <a href="{{component.codebaseUrl}}" target="_blank">{{component.codebaseUrl}}</a>
  </p>
</div>
